*{
    margin: 0px;
    padding: 0px;
}

.wrapper{
    display: flex;
}


/* sidebar1 css */

.sidebar1{
    flex: 1;
    height: 750px;
    background-color:rgb(238, 222, 222);
}

.snapshot{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    background-color: grey;
    color: white;
    border-radius: 10px;
    margin-left: 15px;
    margin-right: 15px;
}

.snapshot p{
    font-size: 20px;
    padding-left: 20px;
}

.snapshot p:hover{
    background-color: white;
    color: purple;
    font-size: 30px;
    /* border: 1px solid; */
    border-radius: 10px;
    /* border-left: 1px purple; */
    border-left: 10px solid green;
}

.pro{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    background-color: white;
    padding-left: 50px;
    height: 350px;
    padding-top: 40px;
    border-radius: 10px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 20px;
    box-shadow: -30px 30px 40px rgba(0,0,0,0.1);
}

.pro-btn{
    width: 100px;
    height: 30px;
    border-radius: 10px;
    color:white ;
    background-color: purple;

}

.pro input{
    width: 150px;
    border:1px dashed;
}

.form-input{
    margin-top: 20px;
}

.form-input input{
    position: relative;
}

.icon{
    position: absolute;
    z-index: 3;
}

.recoomandation{
    margin-top: 20px;
}

.accoumlation{
    margin-top: 20px; 
}

/* End sidebar1 css */


/* scrool content css */
.scroll-content{
    flex: 3;
    height: 750px; 
    background-color:lightgray;
    /* overflow: auto; */
    overflow-y: scroll;
    overflow:auto;

}

::-webkit-scrollbar{
    display: none;
}

/* first-div css */
.first h4{
    margin-left: 20px;
    margin-top: 20px;
    color: purple;
}


.isin{
    display: flex;
    gap:2rem;
    margin-left: 1rem;
    margin-top: 2rem;
}

.isin-data{
    width:200px;
    position:relative;
    background-color: white;
    border-radius: 10px;
    box-shadow: -30px 30px 40px rgba(0,0,0,0.1);
}

.isin-data p{
    padding-left: 10px;
}

.info{
    position: absolute;
    top: 2px;
    left:170px;
}

/* end first-div css */


/* css second-div */
.second{
    margin-top: 60px;
}

.second h5{
    padding-left:30px;
    color: purple;
}

.div2{
    display: flex;
    gap: 2rem;
    margin-left: 1.5rem;
}

.Compound-data{
    display: flex;
    background-color: white;
    width: 420px;
    border-radius: 10px;
    box-shadow: -30px 30px 40px rgba(0,0,0,0.1);
}

.compound{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-top: 10px;
}

.persent{
    display: flex;
    gap: 1rem;
}


.btn-text{
    display: flex;
    flex-direction: column;
}

.btn-text .pro-btn{
    margin-left: 100px;
    margin-top: 20px;
}

.btn-text input {
    margin-top: 20px;
    margin-left: 30px;
    border:1px dashed;
}

.div3{
    margin-top: 40px;
    display: flex;
    gap: 2rem;
    margin-left: 1.5rem;
}

/* end second-div css */

/* start third div css */
.third{
    margin-top:70px;
    background-color: purple;
    color: white;
    border-radius: 10px;
    height: 300px;
}
.third h3{
    padding-left: 20px;
    padding-top: 20px;
}
.third p{
    padding-top:20px;
    padding-left: 20px;
}

/* end third div css */














/* start fourth div css */
.fourth{
    margin-top:50px;
}

.fourth h4{
    margin-left: 20px;
    color: purple;
}
.ipo{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
}
.date{
    display: flex;
    gap:1rem;
}
.open{
    display: flex;
    background-color: white;
    width: 300px;
    border-radius: 10px;
    height: 100px;
}
.open .feb{
    background-color: violet;
    padding-left: 10px;
    margin-left: 20px;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    margin-top: 20px;
}
.open .dec{
    background-color:yellow;
    padding-left: 10px;
    margin-left: 20px;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    margin-top: 20px;
}
.open .jan{
    background-color: red;
    padding-left: 10px;
    margin-left: 20px;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    margin-top: 20px;
}
.open-date{
    margin-left: 10px;
    padding-top: 20px;
}
.sale{
    display: flex;
    gap:1px;
    margin-top: 20px;
    border-radius: 10px;
}
.offer{
    width: 140px;
    display: flex;
    flex-direction: column;
    background-color: white;
}
.offer h5{
    padding-left: 10px;
}
.offer p{
    padding-left: 10px;
}

.retail{
    display: flex;
    gap: 2rem;
    margin-left: 80px;
    margin-top: 30px;
}
.total-subs{
    display:flex;
    background-color: red;
    width: 250px;
    height: 40px;
    border-radius: 10px;
    padding-top: 8px;
}
.total-subs p{
    padding-left: 5px;
}

.total-subs h5{
    padding-left: 40px;
}

.retail-data{
    display: flex;
    flex-direction: column;
    width:140px;
    height: 70px;
}
.retail-data p{
    padding-left: 10px;

}

.retail-data h6{
    padding-left: 10px;
    padding-top: 5px;
}

/* end fourth div css */

/* start fifth div css */
.fifth{
    margin-top: 50px;
    margin-bottom: 50px;
}

.fifth h4{
    color: purple;
    margin-left: 30px;
}

.funding{
    display: flex;
    margin-left: 30px;
}

.stage{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    /* padding-top: 40px ; */
}
.maturity{
    background-color: white;
    height: 120px;
    border-radius: 10px;
    box-shadow: -30px 30px 40px rgba(0,0,0,0.1);
    text-align: center;
    width: 130px;
    padding-top: 20px;
}
.series{
    background-color: white;
    height: 120px;
    border-radius: 10px;
    box-shadow: -30px 30px 40px rgba(0,0,0,0.1);
    text-align: center;
    width: 130px;
    padding-top: 20px;
}

.round{
    display: flex;
    background-color:white;
    margin-left: 30px;
    gap: 1.5rem;
    border-radius: 10px;
    box-shadow: -30px 30px 40px rgba(0,0,0,0.1);
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

.row-btn{
    display: flex;
    margin-left: 680px;
    margin-top: 20px;
    width: 100px;
    justify-content: center;
    border-radius: 8px;
    color: white;
    background-color: purple;
}

/* end fifth div css */


/* start sixth div css */
.sixth{
    margin-top: 50px;
}

.sixth h4{
    color: purple;
    margin-left: 30px;
}

.merger-data{
    display: flex;
    gap: 1.5rem;
    margin: 0px 10px 0px 10px;
}

.merger{
    background-color:white;
    border-radius: 10px;
    box-shadow: -30px 30px 40px rgba(0,0,0,0.1);
}
.merger-data p{
    padding-left: 20px;
    padding-top: 10px;
}

.acquistions{
    background-color: white;
    border-radius: 10px;
    box-shadow: -30px 30px 40px rgba(0,0,0,0.1);
}

.investments{
    background-color: white;
    border-radius: 10px;
    box-shadow: -30px 30px 40px rgba(0,0,0,0.1);
}

.model{
    /* margin-top: 70px; */
    display: flex;
    gap: 3rem;
    margin: 50px 30px 0px 30px;
}

.model ul{
    background-color: white;
    border-radius: 10px;
    height: 100px;
    align-items: center;
    padding-top: 10px;
    box-shadow: -30px 30px 40px rgba(0,0,0,0.1);
}

.subsidieries{
    width:500px;
}

.subsidieries h4{
    color: purple;
    margin-left: 10px;
}

.business{
    width: 500px;
}

.business h4{
    color: purple;
    margin-left: 10px;
}

/* end sixth div css */

/* start seventh div css */
.seventh{
    margin-top: 50px;
}

.seventh h4{
    color: purple;
    margin-left: 30px;
}

.products-services{
    display: flex;
    gap: 2rem;
    margin-left: 10px;
    margin-right: 10px;
}

.products{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.products ul{
    background-color: white;
    height: 170px;
    border-radius: 10px;
}

.assets{
    background-color: white;
    border-radius: 10px;
    height: 170px;
}
.assets h5{
    padding-left: 10px;
}
.revenue{
    border-radius: 10px;
}

/* end seventh div css */


/* start eight div css */
.eight{
    margin-top: 70px;
}

.eight h4{
    color: purple;
    margin-left: 20px;
}

.industry-overview{
    display: flex;
    gap: 1.5rem;
    margin: 0px 10px 0px 10px;
}

.industry{
    background-color:white;
    border-radius: 10px;
    box-shadow: -30px 30px 40px rgba(0,0,0,0.1);
}
.industry-overview p{
    padding-left: 20px;
    padding-top: 10px;
    color: purple;
}

.future{
    background-color: white;
    border-radius: 10px;
    box-shadow: -30px 30px 40px rgba(0,0,0,0.1);
}

.goverment{
    background-color: white;
    border-radius: 10px;
    box-shadow: -30px 30px 40px rgba(0,0,0,0.1);
}

/* end eight div css */


/* start ninth div css */
.ninth{
    margin-top: 50px;
    border-radius: 10px;
    background-color: palevioletred;
    height: 200px;
}

.ninth h4{
    padding-left:30px;
    padding-top: 40px;
    color: white;
}

.ninth li{
    color: white;
}
/* end ninth div css */

/* start tenth div */
.strenght-short{
    display: flex;
    gap: 3rem;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 40px;
    border-radius: 10px;
}

.strenght-short h5{
    padding-left: 20px;
    padding-top: 20px;
    color: purple;
}

.strength{
    background-color: white;
    border-radius: 10px;
    box-shadow: -30px 30px 40px rgba(0,0,0,0.1);
}

.shortmings{
    background-color: white;
    border-radius: 10px;
    box-shadow: -30px 30px 40px rgba(0,0,0,0.1);
}

.opportunity-threats{
    display: flex;
    gap: 3rem;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 40px;
    border-radius: 10px;
}

.opportunity-threats h5{
    padding-left: 20px;
    padding-top: 20px;
    color: purple;
}

.opportunity{
    background-color: white;
    border-radius: 10px;
    box-shadow: -30px 30px 40px rgba(0,0,0,0.1);
}

.threats{
    background-color: white;
    border-radius: 10px;
    box-shadow: -30px 30px 40px rgba(0,0,0,0.1);
}

/* end tenth div css */

/* start eleventh div css */
.eleventh{
    margin-top: 50px;
    display: flex;
    gap: 1.5rem;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.star{
    display: flex;
    gap: 6rem;
    /* background-color: white; */
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
}

.rating-box{
    border: 1px dashed;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    /* height: 300px; */
    /* background-color: white; */
}

.one{
    /* background-color: white; */
    display: flex;
    gap: 2rem;
}
.one p{
    color: grey;
}
.one h6{
    color:purple;
}

.two{
    /* background-color: white;  */
    display: flex;
    gap: 2rem;
    margin-top: 30px;
}

.two p{
    color: grey;
}

.two h6{
    color: purple;
}

.three{
    /* background-color: white; */
    display: flex;
    gap: 2rem;
    margin-top: 30px;
}
.three h6{
     color: purple;
}

.detail-data{
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: -30px 30px 40px rgba(0,0,0,0.1);
    /* align-items: center; */
    padding:20px;
    width: 500px;
    height: 300px;
}

.rating{
    background-color: white;
    border-radius: 10px;
    box-shadow: -30px 30px 40px rgba(0,0,0,0.1);
    height: 300px;
}

.rating-data h5{
    color: purple;
}
.detail-info h5{
    color: purple;
}

/* end eleventh div css */


/* start sidebar2 css */
.sidebar2{
    flex: 1;
    height: 750px;
    background-color:rgb(238, 222, 222);
}
.hdfc{
    background-color: white;
    margin-top: 15px;
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
    box-shadow: -30px 30px 40px rgba(0,0,0,0.1);
}
.hdfc-bank{
    padding-top: 20px;
}

.hdfc-bank  h5{
    color: purple;
    margin-left: 10px;
}

.hdfc-data{
    display: flex;
    gap: 1rem;
}

.hdfc-data h5{
    color: black;
    padding-top: 8px;
}

.hdfc-data p{
    color: green;
    padding-top: 8px;
}

.hdfc-data button{
    width: 110px;
    border-radius: 20px;
    height: 30px;
    margin-top: 8px;
    color: white;
    background-color: purple;
    align-items: center;
}

.required{
    margin-top: 35px;
}

.required h6{
    margin-left: 20px;
}

.required p{
    margin-left: 30px;
}
.invest-check h5{
    margin-left: 20px;
    font-weight: bold;
    color: purple;
}

.profitability{
    display: flex;
    gap: 1rem;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}
.profitability p{
    font-size: 11px;
    font-weight: bold;
}
.outstanding{
    border-radius: 10px;
    background-color: white;
    width: 140px;
    padding-left: 40px;
    height: 90px;
    box-shadow: -30px 30px 40px rgba(0,0,0,0.1);
}

.solevency{
    border-radius: 10px;
    background-color: white;
    width: 140px;
    padding-left: 40px;
    height: 90px;
    box-shadow: -30px 30px 40px rgba(0,0,0,0.1);
}

/* end sidebar2 css */